<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">

<head>
  {{ partial "head.html" . }}
</head>

<body class="td-{{ .Kind }} layout-{{.Layout}}">
  <header>
     {{ partial "promo-banner.html" . }}
     {{ partial "navbar.html" . }}
  </header>

  <div class="td-default td-outer clear-header container">
    <main role="main">
      <div class="td-content">
        <h1>{{ .Title }}</h1>
        {{ block "main" . }} {{ end }}
      </div>
    </main>
    {{ partial "footer.html" . }}
  </div>
  {{ partialCached "scripts.html" . }}
</body>

</html>
