<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }} layout-{{.Layout}}">
    <header class="ss-header row">
      {{ partial "promo-banner.html" . }}
      {{ partial "navbar.html" . }}</header>
    {{ partial "hero.html" . }}

    <div class="td-default td-outer">
      <main role="main">{{ block "main" . }} {{ end }}</main>
      {{ partial "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}
  </body>
</html>
