.layout-index {

  &.td-home {
    .row {
      &.hero {
        margin-top: 0;
        .col {
          &.intro-text {
            display: flex;
            align-items: center;
            .intro-text-panel {
              padding: 1rem;
              background: #fff;
              border-radius: 10px;
              box-shadow: 0 0 36px rgba(0, 0, 0, 0.1);
              overflow: hidden;
            }
          }
        }
      }
      &.slack {
        padding: 1rem;
        p {
          margin-bottom: 0;
        }
        .join-slack {
          background-color: #fff;
          width: 280px;
          height: 80px !important;
          max-height: 80px;
          background-image: url('/images/slack_logo.png');
          background-size: 120px;
          background-repeat: no-repeat;
          background-position: center;
          margin-left: 3rem;
          border: 1px solid #ededed;
          border-radius: 10px;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        }
      }
      &.roles-appeal {
        // padding-top: 1rem;
        // padding-bottom: 1rem;
        padding: 2rem 1rem;
      }
      &.videos {
        .vid {
          padding-right: 0.25rem;
          padding-left: 0.25rem;
        }
      }
    }
  }
}

.logos-list {
  img {
    max-width: 150px;
    padding: 15px;
  }
}