// News Banner
.news {
  margin-top: 50px;
  margin-bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: $secondary;
  flex-direction: column;
  align-items: center;
  padding-right: 0;
  img {
    max-width: 200px;
    padding-bottom: 25px;
  }
  h5 {
    text-align: center;
  }
}

.alert {
  margin-bottom: 0 !important;
}

.alert-dismissable {
  padding-right: 0 !important;
  padding-bottom: 0;
}


.intro-text-panel {
    img {
        width: 100%;
    }
}