/* ==========================================================================
   PAGE SUCCESS STORIES
   ========================================================================== */

.success-stories {
  margin: auto 5rem;
  @include media-breakpoint-down(sm) {
    margin: auto 1rem;
  }
}
.featured-quotes-container {
  overflow: hidden;

  h3 {
    font-weight: 900;
    margin: 3rem 0 2rem 0;
  }

  .featured-quotes-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    border: 1px solid $wave-background;
    border-radius: 5px;
    width: 80%;
    margin: auto;

    @media (max-width: 991.98px) {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;

      .card {
        background-color: $wave-background;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin: auto;
      }
    }
    @media (max-width: 767.98px) {
      width: 95%;
      margin: auto;
    }
    .card {
      background-color: $wave-background;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      margin: 0;
    }
  }

  .quote {
    p {
      padding: 1.5rem 0;
    }
    p:nth-child(2) {
      text-align: right;
      margin: 23px 15px 15px;
      font-size: 0.9em;
    }
  }

  figure {
    margin: 0;
    position: relative;
    img {
      border-radius: 5px;
      margin: auto;
      padding: 0;
      width: 100%;
    }
  }
}
.success-stories-container {
  margin-top: 20px;
  overflow: hidden;

  h3 {
    font-weight: 900;
    margin: 2rem 0;
  }

  .success-stories-wrapper {
    display: grid;
    grid-template-columns: repeat(3, calc(33% - 10px));
    justify-content: space-evenly;
    .card {
      margin: 15px;
    }

    @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
    }
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) {
      display: grid;
      grid-template-columns: repeat(2, calc(45% - 10px));
      justify-content: space-evenly;
    }
  }

  article {
    h4 {
      text-align: center;
      color: #3f5468;
    }

    p {
      padding: 0 1.5rem;
      margin: 0;
    }

    .text {
      margin-top: 23px;
      margin-bottom: 15px;
      font-style: italic;
    }

    span {
      font-weight: 100;
      text-transform: uppercase;
      padding: 0 1.5rem;
    }

    figure {
      margin: 0;
      position: relative;

      img {
        margin: 1rem;
        border-radius: 5px;
        box-shadow: $success-stories-box-shadow;
        padding: 0 1.5rem;
        max-width: 95%;
      }
    }

    a {
      color: $dark;

      &:hover {
        color: $secondary;

        figure {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}

.testimonials-container {
  margin-top: 20px;
  overflow: hidden;

  h3 {
    font-weight: 900;
    margin: 2rem 0;
  }

  .testimonials-wrapper {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    justify-content: center;

    .card {
      .card-body {
        padding: 0;
      }
      margin: 15px;
      img.card-img-top {
        margin: 0;
        border: none;
        width: auto;
        height: 68px;
      }
    }
  }

  article {
    header {
      display: flex;
      background: white;
      padding: 18px 25px;
      justify-content: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      figure {
        margin: 0;

        img {
          margin: 0;
          border: none;
          width: auto;
          height: 68px;
        }
      }
    }

    q {
      display: block;
      padding-top: 5px;
      padding-left: 15px;
      font-style: italic;
    }

    summary {
      padding: 15px 15px 15px 15px;
    }

    .questions-wrapper {
      padding: 22px 30px;
      background-color: white;
      p {
        color: $dark;
      }
    }

    .question {
      font-weight: 900;
      margin: 0;
    }

    .answer {
      font-weight: 100;
      margin: 0 0 25px 0;
    }
  }
}

.videos-container {
  .cards {
    display: flex;

    .card {
      width: 49%;
      margin: 0.5rem 0;
      @media (max-width: 1199.98px) {
        width: 100%;
      }
      @media (max-width: 575.98px) {
      }
    }
  }
  border-radius: 5px;
  position: relative;
  h3 {
    font-weight: 900;
    margin: 2rem 0;
  }

  h6 {
    font-weight: 400;
  }

  iframe.card-img-bottom {
    width: 100%;

    @media (max-width: 1199.98px) {
      min-height: 300px;
    }
    @media (min-width: 992px) {
      min-height: 450px;
    }
  }
}

@media (max-width: 900px) {
  .success-stories-container {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

@media (max-width: 700px) {
  .testimonials-container {
    .testimonials-wrapper {
      display: grid;
      grid-template-columns: repeat(1, calc(100%));
    }
  }
}

.success-stories-container {
  grid-template-columns: repeat(1, calc(100% - 10px));
}
