<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }} layout-{{.Layout}}">
    
    <header class="row">
      {{ partial "navbar.html" . }}
   
    {{ if .IsHome }}{{ partial "hero-homepage.html" .}}

  </header>
    <div class="td-default td-outer">
      <main role="main" >
        {{ else }}
      </header >
        <div class=" td-default td-outer clear-header">
          <main role="main" >
            {{ end }}
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}
  </body>
</html>
