{{ $links := .Site.Params.links }}
{{ if eq $.Page.Params.name "success-stories"}}
<footer class="d-print-none">
{{else}}
<footer class="row d-print-none">
  {{end}}
  <div class="container-fluid mx-sm-5">
    <div class="row row-divider">
      <div class="col pb-5">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex align-items-center text-xs-center order-sm-2">
        {{ with $links }}
        {{ with index . "developer"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-6 text-right text-xs-center order-sm-3 col-footer-logos">
        {{/* {{ with $links }}
        {{ with index . "developer"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }} */}}
        <a href="https://cd.foundation/" target="_blank">
          <img src="https://www.spinnaker.io/assets/images/cdf-color.png" alt="CD Foundation logo">
        </a>
        <a href="https://www.netlify.com">
          <img src="https://www.netlify.com/img/global/badges/netlify-dark.svg" alt="Deploys by Netlify" />
        </a>
      </div>
      <div class="col-12 col-sm-8 py-2 pt-4 mb-5 order-sm-3 col-copy">
        {{ with .Site.Params.copyright }}<small class="text-dark">&copy; {{ now.Year}} {{ . | markdownify }} {{ T "footer_all_rights_reserved" }}</small>{{ end }}
        {{ if or .Site.Params.privacy_policy .Site.Params.terms_of_use }}
          <div class="copy-meta">
            {{ with .Site.Params.privacy_policy }}
              <small class="">
                <a href="{{ . }}" target="_blank">{{ T "footer_privacy_policy" }}</a>
              </small>
            {{ end }}
            {{ if and .Site.Params.privacy_policy .Site.Params.terms_of_use }}
              |
            {{ end }}
            {{ with .Site.Params.terms_of_use }}
              <small class="">
                <a href="{{ . }}" target="_blank">{{ T "footer_terms_of_use" }}</a>
              </small>
            {{ end }}
          	{{ if not .Site.Params.ui.footer_about_disable }}
          		{{ with .Site.GetPage "about" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
          	{{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
{{ define "footer-links-block" }}
<ul class="list-inline mb-0">
  {{ range . }}
  <li class="list-inline-item mr-3 mb-2 mb-sm-0" data-toggle="tooltip" data-placement="top" title="{{ .name }}" aria-label="{{ .name }}">
    <a class="text-dark" target="_blank" href="{{ .url }}">
      <i class="{{ .icon }} fa-2x"></i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
