<div class="row hero home">
  <div class="col intro-text col-lg-10 offset-lg-1">
    <div class="intro-text-panel">
      <img src="/images/spinnaker-horizontal-white.png" alt="Spinnaker" />
      <h3 class="subtitle">
        {{.Params.subtitle}}<br />
        {{.Params.subtitle_1}}
      </h3>

      <a href="https://events.linuxfoundation.org/spinnaker-summit/">
        <h4>
          Register now for Spinnaker Summit | June 22-24, 2021
          <i class="fa fa-caret-right"></i></h4
      ></a>
    </div>
  </div>
</div>
