{{ $cover := .HasShortcode "blocks/cover" }}

<nav class=" js-navbar-scroll navbar navbar-expand navbar-light flex-column flex-lg-row td-navbar">
        <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
		<span class="navbar-logo">{{ if .Site.Params.ui.navbar_logo }}{{ with resources.Get "icons/spinnaker-text-white.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}{{ end }}</span><span class="text-uppercase font-weight-bold sr-only">{{ .Site.Title }}</span>
	</a>
	<div class="td-navbar-nav-scroll ml-lg-auto" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0 " role="navigation">
			{{ $p := . }}
			{{ range .Site.Menus.main }}
			<li class="nav-item">
				{{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
				{{ with .Page }}
				{{ $active = or $active ( $.IsDescendant .)  }}
				{{ end }}
				{{ $url := urls.Parse .URL }}
				{{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
				<a class="nav-link{{if $active }} active{{end}}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}><span{{if $active }} class="active"{{end}}>{{ .Name }}</span></a>
			</li>
			{{ end }}
			{{ if  .Site.Params.versions }}
        {{ if eq .Section "docs" }}
    			<li class="nav-item dropdown d-none d-lg-block">
    				{{ partial "navbar-version-selector.html" . }}
    			</li>
        {{ end }}
			{{ end }}
			{{ if  (gt (len .Site.Home.Translations) 0) }}
			<li class="nav-item dropdown d-none d-lg-block">
				{{ partial "navbar-lang-selector.html" . }}
			</li>
			{{ end }}
		</ul>
	</div>
  {{ if eq .Site.Params.ui.nav_search_disable false }}
  
      <div class="navbar-nav d-none d-xl-block">{{ partial "search-input.html" . }}</div>
 
  {{ end }}
</nav>
