
<div class="alert alert-dismissible fade show d-flex news bg-secondary text-light" role="alert">
    <img
        loading="lazy"
        class="mr-3 news-logo"
        style="width: 150px"
        src="/images/SpinnakerSummit-2021.svg"
        alt="Spinnaker Summit co-located at CDCon"
      />
    <h5>
        Join us at Spinnaker Summit <br/> June 22-24, 2021
       </h5>
        <a href="https://events.linuxfoundation.org/spinnaker-summit/"></a><button type="button" class="btn-primary btn">Register Now</button></a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
