{{ define "main" }}
<div class="row hero">
  <div class="col intro-text col-10 offset-1 ">
    
      <div class="intro-text-panel">
        <img src="/images/spinnaker-horizontal-white.png" alt="Spinnaker" />
        <h3 class="subtitle">
          {{.Params.subtitle}}<br />
          {{.Params.subtitle_1}}
        </h3>
        
          <a href="https://events.linuxfoundation.org/spinnaker-summit/">
          <h4>Register now for Spinnaker Summit | June 22-24, 2021
          <i class="fa fa-caret-right"></i></h4></a>
        
      </div>
  </div>
</div>
<!-- Slack row -->
<div class="row slack -bg-secondary">
  <div class="col col-10 offset-1">
    <div class="d-flex align-items-center">
      <p>
        {{.Params.join_slack_text}}
      </p>
      <a href="https://join.slack.com/t/spinnakerteam/shared_invite/zt-7juwxmx0-nQ4Ud4pJcbuPykX3SXwQrg" alt="Join Slack" class="join-slack">
      </a>
    </div>
  </div>
</div>
<!-- Roles appeal row -->
<div class="row roles-appeal mr-10 ml-20">
  {{ range $.Site.Data.roles }}
    <div class="col-6 col-md-3" id="role_card_{{.id}}">
      <div class="card">
        <h5>{{.name}}</h5>
        <p class="shortdesc">
          {{.shortdesc}}
        </p>
        <a href=".">{{.prompt}}</a>
      </div>
    </div>
  {{ end }}
</div>
<!-- Powered by spinnaker row -->
<div class="row col col-10 powered-by-spinnaker">
   <h3>Powered By Spinnaker</h3>
  
</div>
<!-- Case studies row -->

<!-- Logos row -->
<div class="row logos col col-10  offset-1 d-flex align-content-center justify-content-center">

  <div class="logos-list">
    {{ range $.Site.Data.companies }}
      {{ if gt ( len .logo ) 0 }}  
        <a href="/" alt="{{.name}}" id="logo_{{.id}}">
          <img src="{{.logo}}" />
        </a>
      {{ end }}
    {{ end }}
  </div>
</div>
<!-- Video carousel row -->
<div class="row videos">
  <div class="col-10 offset-1 init-carousel">
    {{ range $.Site.Data.videos }}
      {{ if eq .display_landing true }}
        <div class="vid">
          <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
            <iframe src="https://www.youtube.com/embed/{{.id}}?autoplay=0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="{{.title}}"></iframe>
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>

<div class="col-10 offset-1 col-md-3 who-should-use">
  <h5>{{.Params.who_should_use_header}}</h5>
  <div class="who-should-use-text">
    {{.Params.who_should_use_text | markdownify }}
  </div>
</div>
<!-- contributing row -->
<div class="row contributing">
  <div class="col col-10 offset-1">
    <h3 class="contrib-header">{{.Params.contrib_header}}</h3>
    <div class="contrib-text">
      {{.Params.contrib_text}}
    </div>
  </div>
</div>
{{ end }}
