{{ define "main" }}
<!-- Slack row -->
<!-- <div class="heading-with-text">
  <div class="slack-container">
    <p>{{.Params.join_slack_text}}</p>
    <a
      href="https://join.slack.com/t/spinnakerteam/shared_invite/zt-7juwxmx0-nQ4Ud4pJcbuPykX3SXwQrg"
      alt="Join Slack"
      class="join-slack"
      name="join slack"
    >
    </a>
  </div>
</div> -->

<!-- Who should use Spinnaker? row -->

<div class="jumbotron jumbotron-fluid bg-info">
  <div>
    <h3 class="display-4">{{.Params.who_should_use_header}}</h3>
    <p class="lead">{{.Params.who_should_use_text | markdownify }}</p>
  </div>
</div>

<!-- Powered by spinnaker row -->
<div class="jumbotron jumbotron-fluid -bg-white">
  <h3 class="display-4">Powered By Spinnaker</h3>

  <!-- Logos row -->
  <div class="logos d-flex justify-content-center">
    <div class="logos-list d-flex">
      {{ range $.Site.Data.companies }} {{ if gt ( len .logo ) 0 }}

      <img src="{{.logo}}" alt="{{.name}}" />

      {{ end }} {{ end }}
    </div>
  </div>
</div>
<!-- Cloud Providers row -->
<div class="jumbotron jumbotron-fluid">
  <div>
    <h3 class="display-4">Supported Cloud Providers</h3>

    <!-- Logos row -->
    <div class="row logos d-flex justify-content-center">
      <div class="cloud-providers d-flex">
        {{ range $.Site.Data.cloud_providers }}

        <img src="{{.image_path}}" alt="{{.alt}}" />

        {{ end }}
      </div>
    </div>
  </div>
</div>
<!-- About row -->
<div class="jumbotron jumbotron-fluid -bg-white">
  <div>
    <h3 class="display-4">
      Spinnaker is an open source, multi-cloud continuous delivery platform for
      releasing software changes with high velocity and confidence.
    </h3>
    <p class="lead">
      Created at Netflix, it has been battle-tested in production by hundreds of
      teams over millions of deployments. It combines a powerful and flexible
      pipeline management system with integrations to the major cloud providers.
    </p>
    <div class="about-cards">
      {{ range $.Site.Data.about_copy }}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{.title}}</h5>
          <div class="card-text">{{.excerpt}}</div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>
<!-- Features row -->
<div class="jumbotron jumbotron-fluid">
  <div>
    <h3 class="display-4">Features List</h3>
    <div>
      <div class="cards">
        {{ range $.Site.Data.features }}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{.title}}</h5>
            <div class="card-text">{{.content}}</div>
          </div>
        </div>

        {{end}}
      </div>
    </div>
  </div>
</div>

<!-- Video carousel row -->
<div class="jumbotron jumbotron-fluid -bg-white">
  <div>
    <h3 class="display-4">Spinnaker Community on YouTube</h3>

    <div class="row videos">
      <div class="col init-carousel">
        {{ range $.Site.Data.videos }} {{ if eq .display_landing true }}
        <div class="vid">
          <div>
            <iframe
              src="https://www.youtube.com/embed/{{.id}}?autoplay=0"
              allowfullscreen
              title="{{.title}}"
            ></iframe>
          </div>
        </div>
        {{ end }} {{ end }}
      </div>
    </div>
  </div>
</div>

<!-- contributing row -->
<div class="jumbotron jumbotron-fluid">
  <div>
    <h3 class="display-4">{{.Params.contrib_header}}</h3>
    <p class="lead">
      Engage in the community! Our
      <a href="/docs/community">community section</a> has some great ways to get
      engaged.
    </p>
  </div>
</div>

{{ end }}
